.add-trip-btn {
  width: 100%;
  aspect-ratio: var(--aspect-ratio);
  align-self: self-start;
  color: inherit;
  font-size: 2rem;
  font-weight: 700;
  font-style: inherit;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--color-light-1);
  transition: all 0.3s;
  cursor: pointer;
}

.add-trip-btn:is(:focus, :hover, :active) {
  border: 1px solid var(--color-main);
}

.add-trip-btn span {
  display: block;
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
