.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-top: 15vh;
}

.countdown-item {
  text-align: center;
}

.countdown-item span {
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.countdown-item .caption {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-light-2);
}
